<!DOCTYPE HTML>
<html lang = 'en'>
<head>
  <meta charset="utf-8">
  <title><%= title.title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style_contact.css">
</head>
<body>

    <% include ./partials/header.ejs %>
    <% include ./partials/navigation.ejs %>
    <% include ./partials/site-navigation.ejs %>

  <main>
      <p> Wanderelust Inc. is a platform created for the travel enthusiatic people to share their travel experience. The experience shared by the travellers helps people who have planned to visit those places in near future. Information posted on the website could be used to make plan the trip in an organized manner for hassle free travel experience.<br><br>
  		Feel free to use our platform<br>
  		Share your travel experience.
  		</p>
  </main>

    <% include ./partials/footer.ejs %>

</body>
</html>
