<!DOCTYPE HTML>
<html lang = 'en'>
<head>
  <meta charset="utf-8">
  <title>Contact</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style_contact.css">
</head>
<body>

    <% include ./partials/header.ejs %>
    <% include ./partials/navigation.ejs %>
    <% include ./partials/site-navigation.ejs %>

  <main>
      <p> Do you need more information?<br><br> Reach out to us over email or over the phone<br><br>
  		Email: support@wanderlust.com<br>
  		Phone: +1 1234567890
  		</p>
  </main>

    <% include ./partials/footer.ejs %>

</body>
</html>
