<nav>
<ul>
  <li><a href="/index"> Home </a></li>
  <li><a href="/categories"> Categories </a></li>
  <li><a href="/index" class="inactive"> Store </a></li>
  <li><a href="/about"> About </a></li>
  <li><a href="/contact"> Contact us </a></li>
</ul>
</nav>
