<div class="user_spec">
<%if(data == undefined){%><a href="/myItems">Sign In</a><%}else{%><a href="/logout">Sign out</a><%}%>&#124;
<a href="/myItems">My Experience</a>&#124;
<a href="/" class="inactive">Cart</a>
</div>
