<header class = "banner">
<h6><%if(isloggedin){%><span>Welcome <%=user[0].firstName%>!</span><%}else{%><span>Not signed in.</span><%}%></h6>
<div class="banner-wrapper">
  <img src="/images/Wanderlust_Logo.jpg" alt="Wanderlust" >
  <h1>WANDERLUST</h1>
</div>
</header>
