<div class="user_spec">
<%if(isloggedin){%><a href="/logout">Sign out</a><%}else{%><a href="/myItems">Sign in</a><%}%>&#124;
<a href="/myItems">My Experience</a>&#124;
<a href="#" class="inactive">Cart</a>
</div>
