<!DOCTYPE HTML>
<html lang = 'en'>
<head>
  <meta charset="utf-8">
  <title>Error</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style_contact.css">
</head>
<body>

    <% include ./partials/header.ejs %>
    <% include ./partials/navigation.ejs %>
    <% include ./partials/site-navigation.ejs %>

  <main>
      <p> Requested page is not available in our service.<br><br>Kindly try our services with the intutive options available to avail best user experience.<br><br> Happy travelling!
  		</p>
  </main>

    <% include ./partials/footer.ejs %>

</body>
</html>
