<!DOCTYPE HTML>
<html lang = 'en'>
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style_index.css">
</head>
<body>

    <% include ./partials/header.ejs %>
    <% include ./partials/navigation.ejs %>
    <% include ./partials/site-navigation.ejs %>

  <main>
      <p> Are you a frequent traveller?<br><br> Your search to get information about the places ends here. Add information about the places you have visited in addition to important points that one has to consider before the visit.<br><br>
  		Respect Nature<br>
  		Happy travelling!!
  		</p>
  </main>

    <% include ./partials/footer.ejs %>

</body>
</html>
